{% extends "auctions/layout.html" %}

{% block body %}

<div class="mx-3">

    <h2 class="mb-3"> Winner declared! </h2>

    <div class="alert alert-success">
        The winner of your Listing('{{listing.title}}') is a user named <strong>'{{winner.username}}'</strong> by the highest bid of <strong>${{highest_bid|floatformat:"0"}}</strong>.
    </div>

    <div>
        {% if redirect_url %}
        <button class="btn btn-light btn-sm"><a href="{{redirect_url}}" style="text-decoration: none;"> go back </a></button>
        {% endif %}
    </div>
</div>

{% endblock %}